version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: jam-postgres
    environment:
      POSTGRES_DB: jamdb
      POSTGRES_USER: jamuser
      POSTGRES_PASSWORD: jampassword
    ports:
      - "5432:5432"
    volumes:
      - jam-postgres-data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend/jam-backend
    container_name: jam-backend
    environment:
      # БД
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/jamdb
      SPRING_DATASOURCE_USERNAME: jamuser
      SPRING_DATASOURCE_PASSWORD: jampassword
      SECURITY_JWT_SECRET: asdfaskdfjlkasjdfjasldkfja;lskj3oi4234jrwejf
      # LLM_API_KEY передается через переменные окружения при запуске
      LLM_API_KEY: ${LLM_API_KEY}
    ports:
      - "19091:8080"
    depends_on:
      - postgres

  frontend:
    build:
      context: ./frontend
    container_name: jam-frontend
    environment:
      - NODE_ENV=production
      - VITE_API_PORT=19091
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  jam-postgres-data:
