.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--mantine-color-text);
}

.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  text-decoration: none;
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--mantine-color-dark-6);
  }

  @media (prefers-color-scheme: light) {
    &:hover {
      background-color: var(--mantine-color-gray-1);
    }
  }
}

.main {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}
